$font-stack:    Helvetica, sans-serif
$primary-color: #333

body
  font: 100% $font-stack
  width: 1000px
  padding: 10px
  color: $primary-color
  margin: auto

  a
    color: $primary-color

  .content
    margin-top: 40px

  .active-link
    color: #67ced6

  .link-tab
    .MuiButton-label
      &:hover
        background: none!important

  .active-link-tab
    color: #73d2d9
    border: 1px solid
    padding: 5px


  .input
    background: #f7f7f7
    padding: 20px
    border-radius: 5px

  .grid
    margin-top: 20px
    display: flex
    flex-wrap: wrap
    justify-content: left

  .MuiFormLabel-root.Mui-focused
    color: #1b1b1b

  .MuiInput-underline::after
    border-bottom: 2px solid #1b1b1b

  .MuiCard-root
    width: 24%
    margin: 5px

  .MuiCardContent-root
    font-size: 16px
    line-height: 25px
    min-height: 60px

  .done-icon
    &:hover
      background: #deeed2


  .done-icon-active
    background: #deeed2

  #alert-dialog-description
    font-size: 18px
    color: #1b1b1b


  .tag
    font-size: 12px
    color: #ff3af3
    background: #f2f2f2
    padding: 6px
    border-radius: 100px

  .tab-bar
    .MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-colorInherit
      &:hover
        background: none

